<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>

<body>

<nav >
  <span>ChemoDOTS</span>
  <a (click) = "on_click_Growing()"><span>Growing Mode</span></a>
  <a (click) = "on_click_Linking()"><span>Linking Mode</span></a>

</nav>

<div id="main" style="text-align:left;border:0mm solid #F00;">
<div id="top">
    <h1 style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#006699;margin-left:50px;">Build Focused Virtual Libraries</h1>
</div>

  <div id="growing" style="border:1mm groove #eeeeee;text-align:center;padding-top:5%;background-color:#eeeeee;">
    <a (click) = "on_click_Growing()" > <img src="assets/img/growing-mode.png" width="350"></a>
    <h2 (click) = "on_click_Growing()" style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;">Select Growing Mode</h2>
<!--
      <i class="fas fa-flask fa-10x" style="margin-left: 10% "></i>
-->
<h3 onmouseover="return overlib ('',BACKGROUND,'assets/img/growing.png',WIDTH,650,HEIGHT,334,HAUTO, VAUTO);" onmouseout="return nd ();" style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-weight:300;font-style:italic;">(Create a Virtual Library from 1 Fragment)</h3>

  </div>
  <div id="linking" style="border:1mm groove #eeeeee;text-align:center;padding-top:5%;background-color:#eeeeee;">
    <a (click) = "on_click_Linking()"> <img src="assets/img/linking-mode.png" width="350"></a>
    <h2 (click) = "on_click_Linking()" style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;">Select Linking Mode</h2>
<h3 onmouseover="return overlib ('',BACKGROUND,'assets/img/linking.png',WIDTH,650,HEIGHT,334,HAUTO, VAUTO);" onmouseout="return nd ();" style="font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000;font-weight:300;font-style:italic;">(Create a Virtual Library from 2 Fragments)</h3>
<!--
    <i class="fas fa-vials fa-10x" style="margin-left: 7% "></i>
-->
  </div>


<div class="footer">
<p ><a href="https://pubs.acs.org/doi/10.1021/acs.jmedchem.8b00653"><img src="assets/img/pubmed.png" width="26" height="31" vspace="4" align="absmiddle" > Hoffer et al (2018) J. Med. Chem. 61, 13, 5719–5732 : <strong>DOTS publication</strong></a></p>
</div>
</div>
</body>

</html>
